/*
 *  @since 1.7.5
 */
.wbte_crp_upsell_banner{
	height: 77px;
	width: auto !important;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f3f2fd; /* light purple background */
	padding: 1px 6px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
	word-spacing: 1px;
	border-left: 6px solid #5454A5;
}

.wbte_crp_upsell_banner_text .wbte_crp_upsell_banner_upsell_title {
	font-weight: bold;
	color: #5454A5;
}
.wbte_crp_upsell_banner_text {
	flex: 1;
	margin-right: 20px;
	line-height: 1.5;
}

.wbte_crp_upsell_banner_actions {
	display: flex;
	gap: 10px;
}

.wbte_crp_upsell_banner_text{
	width: 63%;
	margin-left: 10px;
}

.wbte_crp_upsell_banner_content .popup-close {
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	font-size: 17px;
	color: #5454A5;
	font-weight: normal;
	border: none;
	background: none;
}

.wbte_crp_upsell_banner_content .popup-close:hover {
	color: #333;
}

.wbte_crp_upsell_banner_closed {
	position: absolute;
	top: 30px;
	right: 13px;
	background: transparent;
	border: none;
	font-size: 18px;
	cursor: pointer;
	color: #666;
	line-height: 1;
}

.wbte_crp_upsell_banner_closed:hover {
	color: #000;
}

.wbte_crp_upsell_banner_content .popup-close:hover {
	color: #333;
}

.wbte_crp_upsell_banner_actions .btn-primary:hover {
	background: #483bc2 !important;
	color: #fff !important;
}


.btn-primary {
	background: #5454A5; 
	color: #fff;
	padding: 9px 16px;
	text-decoration: none;
	border-radius: 4px;
	width: 119px;
	font-size: 14px;
}

.btn-secondary {
	border: 1px solid #5454A5;
	color: #5454A5;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 4px;
	margin-right: 35px;
}

.btn-secondary:hover {
	background: #e9e6fc;
	color: #483bc2;
}